<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Email</title>
</head>
<body>
<div>
  <h4>Dear {{name}},</h4>
  <p>You requested for a password reset.</p>
  <p>Please click on that nakama <a href="{{url}}">link</a> to reset your password.</p>
  <p>Your nakama,</p>
  <p>Charli</p>
</div>
</body>
</html>
