<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div>
  <h4>Dear {{name}},</h4>
  <p>Your password has been successful reset, you can now login with your new password.</p>
  <p>keep in mind that you are a nakama forever.</p>
  <p>Your nakama,</p>
  <p>Charli</p>
</div>
</body>
</html>
